html {
	height: 100%;

	body {
		height: 100%;
		background: #ccc;
		font-family: 'Roboto', sans-serif;

		#app {
			height: 100%;
			background-color: #f6f6f6;
		}
		.banner {
			text-align: center;
		}
	}
}